body {
    background-color: #f0ecec;
}

/* Navbar */
.bg-sage {
    background-color: #9B6A6C;
}

.navbar-brand,
.nav-link {
    color: #1F0812;
}

/* Jumbotron */
.bg-jumbo {
    background-color: #679289;
}

.btn-jumbo {
    background-color: #1F0812;
    color: #6e8387;
}

/* Profile Card */
.bg-profile {
    background-color: #FFEED6;
    color: #1F0812;
}

.btn {
    font-weight: 500;
}

.btn-one {
    background-color: #679289;
    color: #1F0812;
}

.btn-one:hover {
    background-color: #1F0812;
    color: #FFEED6;
}

.btn-outline {
    border: #1F0812 1px solid;
}

.btn-outline:hover {
    border: #679289 1px solid;
    color: #679289;
}

.itemTitle {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}

/* Forms */
.bg-forms {
    background-color: whitesmoke;
}

.form-label {
    font-weight: 600;
    color: #1F0812;
}

.form-control:focus {
    border-color: #9B6A6C;
    box-shadow: 0 0 0 0.25rem rgba(155, 106, 108, 0.3);
}

.btn-submit {
    color: #FFEED6;
    background-color: #9B6A6C;
}

.btn-submit:hover {
    color: #9B6A6C;
    background-color: #FFEED6;
}

/* cards */

.card-img-top {
    width: 50%;
    margin: auto;
}

.btn-card {
    background-color: #FFEED6;
    color: #6E8387;
    outline: #6E8387 1px solid;
    font-weight: bold;
}

.btn-card:hover {
    background-color: #6E8387;
    color: #FFEED6;
}